<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.helm.plaud-fetcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>{{WORKSPACE_PATH}}/scripts/plaud_fetcher/fetch_plaud.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{WORKSPACE_PATH}}</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{WORKSPACE_PATH}}/scripts/plaud_fetcher/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{WORKSPACE_PATH}}/scripts/plaud_fetcher/stderr.log</string>
</dict>
</plist>
